<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaston.lesbegueris.notepases">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCXGPEtyCayE07CdMDEvnBZ30pISa12Dqw" />
        
        <!-- Appodeal App Key -->
        <meta-data
            android:name="com.appodeal.application_key"
            android:value="@string/appodeal_app_key" />
        
        <!-- AdMob App ID (required by Appodeal since it uses AdMob as one of its ad networks) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->



        <service
            android:name=".Traking"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" >
        </service>
        <activity android:name=".MapsActivity"
            android:exported="false">
        </activity>
        <activity android:name=".Alarma"
            android:exported="false"></activity>
        <activity android:name=".Tab1"
            android:exported="false"></activity>
        <activity android:name=".Tab2"
            android:exported="false"></activity>
        <activity android:name=".TutoActivity"
            android:exported="false"></activity>
        <activity android:name=".MapsActivity2"
            android:exported="false"></activity>
    </application>

</manifest>